# IDE settings
/.vscode
/node_modules

/packages/backend/prisma/generated

# Python
__pycache__/

# Project specific
/python-experiments/output

*.pem

.env
.env.*
!.env.example
*storybook.log
storybook-static
