body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.table-container {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  text-align: center;
}

table {
  border-collapse: collapse;
  /* width: 100%; */
  max-width: 800px;
  margin: auto;
  /* box-shadow: 0 10px 0px rgba(0, 0, 0, 0.1); */
}

td {
  border: 1px solid #ddd;
  /* padding: 5px 10px; */
  text-align: center;
  /* min-width: 10px; Prevents overlapping */
}

th {
  /* background-color: #4CAF50; */
  /* color: white; */
  top: 0;
  z-index: 1;
  vertical-align: bottom;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.lex-set {
  font-weight: bold;
  position: sticky;
  left: 0;
  background-color: #f9f9f9; /* Optional: to match the table background */
  z-index: 2; /* Ensure it is above other cells */
}

.lex-set-header {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 3;
}

.ipa-symbol {
  font-family: "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
}

.playable {
  cursor: pointer;
  color: blue;
  text-decoration: none;
  white-space: nowrap;
}
.audio-icon {
  margin-right: 5px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
  display: none;
}

.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

.spacer {
  padding: 10px 0 0 0;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  /* padding: 3px; */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 4;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

@media (min-width: 1024px) {
  .gambiarra,
  .respelled,
  .phonemic,
  .phonetic {
    display: table-cell;
  }
  .column-select {
    display: none;
  }
}
